$app-light-color: var(--app-light-color);
$app-dark-color: var(--app-dark-color);
$app-primary-color: var(--app-primary-color);
$app-secondary-color-1: var(--app-secondary-color-1);
$app-secondary-color-2: var(--app-secondary-color-2);
$app-background-color: var(--app-background-color);
$app-font-color: var(--app-font-color);
