@use '../../styles/variables.scss' as variables;

.app-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: variables.$app-font-color;
    background-color: variables.$app-background-color;

    .app-header {
        width: 100%;
        flex-shrink: 0;
        height: 70px;
        box-shadow: 0 0 10px black;
    }

    .app-main {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .app-footer {
        flex-shrink: 0;
        height: 70px;
        box-shadow: 0 0 10px black;

        display: none;
    }
}
