@use '../../styles/variables.scss';

.main-container {
    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;

    .main-wave-section {
        width: 100%;

        &:nth-of-type(1) {
            background-color: variables.$app-dark-color;
        }

        &:nth-of-type(2) {
            background-color: variables.$app-secondary-color-1;
        }
    }

    .main-section {
        padding: 20px 300px;

        &:nth-of-type(1) {
            background-color: variables.$app-dark-color;
        }

        &:nth-of-type(2) {
            background-color: variables.$app-secondary-color-1;
        }

        &:nth-of-type(3) {
            background-color: variables.$app-dark-color;
        }

        .main-section-title {
            position: relative;
            display: flex;
            flex-direction: row;

            font-size: 1.5rem;
            font-weight: 600;
            width: 100%;
            text-align: center;

            &::before,
            &::after {
                content: '';
                margin: auto 30px;
                height: 1px;
                flex-grow: 1;
                background-color: variables.$app-primary-color;
            }

            &::before {
                left: 0;
                margin-left: 0;
            }

            &::after {
                right: 0;
                margin-right: 0;
            }
        }

        .main-section-body {
            display: flex;
            flex-direction: column;

            &.about-me {
                gap: 20px;
                padding: 20px 100px;
            }
        }
    }
}
