@use '../variables.scss' as variables;

.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: variables.$app-primary-color;

    .app-header {
        height: 70px;
        background-color: variables.$app-secondary-color-1;
    }

    .app-main {
        flex-grow: 1;
        background-color: variables.$app-background-color;
    }

    .app-footer {
        height: 70px;
        background-color: variables.$app-secondary-color-1;
    }
}
