.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

    .app-header {
        height: 70px;
        background-color: rgb(196, 62, 0);
    }

    .app-main {
        flex-grow: 1;
    }

    .app-footer {
        height: 70px;
        background-color: rgb(196, 62, 0);
    }
}
