$app-primary-color: var(--app-primary-color);
$app-secondary-color-1: var(--app-secondary-color-1);
$app-secondary-color-2: var(--app-secondary-color-2);
$app-light-color: var(--app-light-color);
$app-background-color: var(--app-light-color);
